/*如果有全局的css样式尽量写在本处*/


/*全局css样式,让他撑满整个屏幕*/
html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px   ;/* 设置最小宽度 */


  /*-webkit-filter:grayscale(); !* 变灰 *!*/

}

/*面包屑*/
.el-breadcrumb {
  margin-bottom: 15px;
}

/* eleUI的bug,级联选择器选择框高度不够或者过高*/
.el-cascader-menu {
  height: 300px;
}

/* 进度的字体 */
.el-step__title {
  font-size: 14px;
}

/*上传图片的宽度*/
.el-upload-list--picture {
  width: 300px;
}